{% extends "base.html" %}

{% block title %}
    DontLookHere
{% endblock %}

{% block style %}
    
    
{% endblock %}

{% block header %}
    Anything you want. Write it
{% endblock %}

{% block content %}
    <form method='post'>
        <table>
            <tr>
                <td class='label'>Title</td>
                <td>
                    <input type='text' name='title' value={{title}}>
                </td>
                <td class='error'>{{title_error}}</td>
            </tr>
            
            <tr>
                <td class='label'>This is for blog text</td>
                <td>
                    {% if not blog_content %}
                        <textarea name='blog_content'>What's your story?</textarea>
                    {% endif %}
                    {% if blog_content %}
                        <textarea name='blog_content'>{{blog_content}}</textarea>
                    {% endif %}
                </td> 
                <td class='error'>{{content_error}}</td>
            </tr>
        </table>
        <input type='submit'>
    </form>
{% endblock %}